<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
    <meta charset="utf-8" />
    <title>Tu Ahorro Anual</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="FlameOnePage freebie theme for web startups by FairTech SEO." name="description" />
    <meta content="FairTech" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="/resources/vendor/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/resources/css/animate.css" rel="stylesheet" />
    <link href="/resources/vendor/swiper/css/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="/resources/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link rel="/resources/shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/resources/css/modificacion.css" />
    <link rel="stylesheet" href="/proyecto Ahorro/tuAhorroAnual/src/public/css/styles.css" />
    <link rel="stylesheet" href="/proyecto Ahorro/tuAhorroAnual/src/public/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap" rel="stylesheet" />
</head>

<body class="cuerpo" id="body" data-spy="scroll" data-target=".header">
    <header class="header navbar-fixed-top">
        <nav class="navbar" role="navigation">
            <div class="container">
                <div class="menu-container js_nav-item">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="toggle-icon"></span>
          </button>

                    <div class="logo">
                        <a class="logo-wrap" href="#body">
                            <img class="logo-img logo-img-main" src="/resources/img/logo-ahorro.png" alt="Logo Ahorro" />
                            <img class="logo-img logo-img-active" src="/resources/img/logo-ahorro.png" alt="Logo Ahorro" />
                        </a>
                    </div>
                </div>

                <div class="collapse navbar-collapse nav-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav navbar-nav-right">
                            <li class="js_nav-item nav-item">
                                <a class="nav-item-child nav-item-hover" href="/">Inicio</a>
                            </li>
                            <li class="js_nav-item nav-item">
                                <a class="nav-item-child nav-item-hover" href="/equipo" data-toggle="modal" data-target="#loginModal">Usuarios</a>
                            </li>
                            <li class="js_nav-item nav-item">
                                <a class="nav-item-child nav-item-hover" href="/servicios">Actividades</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>
        </div>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="img-responsive" src="/resources/img/1920x1080/03.jpg" alt="Slider Image" />
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-40">
                            <h1 class="carousel-title">TU AHORRO ANUAL</h1>
                            <p class="color-white">
                                la aplicación Tu Ahorro Anual hace parte de un ejercicio academico en el programa Técnico <br /> en Programacion de Software en convenio Institucion Universitaria Salazar y Herrera - SENA 2021. <br /> Los autores Maria
                                Isabel Osorio Ramirez y Julian Isaza.
                            </p>
                        </div>
                        <a href="#services" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="img-responsive" src="/resources/img/1920x1080/02.jpg" alt="Slider Image" />
                <div class="container">
                    <div class="carousel-centered">
                        <div class="margin-b-40">
                            <h2 class="carousel-title">Desarrolladores</h2>
                            <p class="color-white">
                                Descubre quien esta detrás de este gran proyecto familiar
                                <br /> muy pronto para todas las familias.
                            </p>
                        </div>
                        <a href="/desarrolladores" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Descúbrelos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--========== SLIDER ==========-->

    <!-- Work -->

    <!-- Services -->
    <div id="services">
        <div class="bg-color-sky-light" data-auto-height="true">
            <div class="content-lg container">
                <div class="row margin-b-40">
                    <div class="col-sm-6">
                        <h2>¿Quienes somos?</h2>
                        <p>
                            La Familia Osorio Ramírez lleva aproximadamente seis años realizando un ahorro anual para cubrir las necesidades y gastos que se generan al finalizar el año. Tu ahorro Anual es una aplicación, que facilitara el control y cálculos de los valores que se
                            deben liquidar a cada uno de los usuarios cuando se termine el ciclo anual o cuando se van a retirar del fondo de ahorro.
                        </p>
                    </div>
                </div>
                <!--// end row -->

                <div class="row row-space-1 margin-b-2 cards">
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class="service-icon icon-chemistry"></i>
                            </div>
                            <div class="service-info">
                                <h3>Familia Osorio Ramirez</h3>
                                <p class="margin-b-5">
                                    Se caracteriza por ser una familia alegre, unida, donde se inculcan los buenos valores, espacios en familia y sobre todo la cultura del ahorro.
                                </p>
                            </div>
                            <a href="#" class="content-wrapper-link"></a>
                        </div>
                    </div>
                    <div class="col-sm-4 sm-margin-b-2 cards">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class="service-icon icon-screen-tablet"></i>
                            </div>
                            <div class="service-info">
                                <h3>Objetivo</h3>
                                <p class="margin-b-5">
                                    Desarrollar una aplicación, que facilite el control y cálculos de los valores que se deben liquidar a cada uno de los usuarios al finalizar cada ciclo anual o cuando se van a retirar del fondo de ahorro
                                </p>
                            </div>
                            <a href="#" class="content-wrapper-link"></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class="service-icon icon-badge"></i>
                            </div>
                            <div class="service-info">
                                <h3>Metas</h3>
                                <p class="margin-b-5">
                                    Ayudar y contribuir a que cada integrante de la familia pueda generar un ahorro programado para mejorar su finanzas al terminar el año.
                                </p>
                            </div>
                            <a href="#" class="content-wrapper-link"></a>
                        </div>
                    </div>
                </div>
                <!--// end row -->

                <div class="row row-space-1">
                    <div class="col-sm-4 sm-margin-b-2 cards">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class="service-icon icon-notebook"></i>
                            </div>
                            <div class="service-info">
                                <h3>Misión</h3>
                                <p class="margin-b-5">
                                    Proveer a las familias de un aplicativo eficaz y eficiente que permita a los usuarios tener control y claridad de los ahorros que tiene y asi aportar a su crecimiento personal y mejorar su economia.
                                </p>
                            </div>
                            <a href="#" class="content-wrapper-link"></a>
                        </div>
                    </div>
                    <div class="col-sm-4 sm-margin-b-2 cards">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class="service-icon icon-speedometer"></i>
                            </div>
                            <div class="service-info">
                                <h3>Visión</h3>
                                <p class="margin-b-5">
                                    Para el año 2025, Tu ahorro anual quiere ser una aplicación reconocida y de gran utilidad para muchas familias colombianas.
                                </p>
                            </div>
                            <a href="#" class="content-wrapper-link"></a>
                        </div>
                    </div>
                    <div class="col-sm-4 cards">
                        <div class="service" data-height="height">
                            <div class="service-element">
                                <i class="service-icon icon-badge"></i>
                            </div>
                            <div class="service-info">
                                <h3>Agradecimientos</h3>
                                <p class="margin-b-5">
                                    De corazon queremos agradecerles por usar nuestra aplicacion y asi contribuir a que muchas otras familias lo conozcan y hagan parte de este proyecto.
                                </p>
                            </div>
                            <a href="#" class="content-wrapper-link"></a>
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
    </div>
    <!-- End Service -->

    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form action="initSession" method="post">
                        <div class="form-group">
                            <input type="number" class="form-control" name="cedula" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese cédula" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Ingrese contraseña" />
                        </div>
                        <button type="submit" class="btn btn-primary">
              Iniciar Sesión
            </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>

                    <a href="/initSession">Entrar</a>
                </div>
            </div>
        </div>
    </div>

    <!--========== FOOTER ==========-->
    <footer class="footer">
        <!-- Links -->
        <div class="section-seperator">
            <div class="content-md container">
                <div class="row">
                    <div class="col-sm-2 sm-margin-b-30">
                        <!-- List -->
                        <ul class="list-unstyled footer-list">
                            <li class="footer-list-item"><a href="#body">Inicio</a></li>
                            <li class="footer-list-item"><a href="#about">Equipo</a></li>
                            <!-- <li class="footer-list-item">
                                <a href="#work">Credentials</a>
                            </li> -->
                            <li class="footer-list-item">
                                <a href="#contact">Contactenos</a>
                            </li>
                        </ul>
                        <!-- End List -->
                    </div>
                    <div class="col-sm-2 sm-margin-b-30">
                        <!-- List -->
                        <ul class="list-unstyled footer-list">
                            <li class="footer-list-item"><a href="#">Twitter</a></li>
                            <li class="footer-list-item"><a href="#">Facebook</a></li>
                            <li class="footer-list-item"><a href="#">Instagram</a></li>
                        </ul>
                        <!-- End List -->
                    </div>
                    <div class="col-sm-3">
                        <!-- List -->
                        <ul class="list-unstyled footer-list">
                            <li class="footer-list-item">
                                <a href="#">Politica de privacidad</a>
                            </li>
                            <li class="footer-list-item">
                                <a href="#">Terminos &amp; condiciones</a>
                            </li>
                        </ul>
                        <!-- End List -->
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End Links -->

        <!-- Copyright -->
        <div class="content container">
            <div class="row">
                <div class="col-xs-6">
                    <p>
                        <a href="#">© Copyright 2021 | Desarrollo libre | Todos los derechos
              reservados</a>
                    </p>
                </div>
                <div class="col-xs-6 text-right">
                    <p class="margin-b-0">
                        <a class="fweight-700" href="#">Ahorrando</a> en familia
                    </p>
                </div>
            </div>
            <!--// end row -->
        </div>
        <!-- End Copyright -->
    </footer>
    <!--========== END FOOTER ==========-->

    <!-- Back To Top -->
    <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

    <!-- JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- CORE PLUGINS -->
    <script src="/resources/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="/resources/vendor/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="/resources/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <!-- PAGE LEVEL PLUGINS -->
    <script src="/resources/vendor/jquery.easing.js" type="text/javascript"></script>
    <script src="/resources/vendor/jquery.back-to-top.js" type="text/javascript"></script>
    <script src="/resources/vendor/jquery.smooth-scroll.js" type="text/javascript"></script>
    <script src="/resources/vendor/jquery.wow.min.js" type="text/javascript"></script>
    <script src="/resources/vendor/swi/per/js/swiper.jquery.min.js" type="text/javascript"></script>
    <script src="/resources/vendor/masonry/jquery.masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/resources/vendor/masonry/imagesloaded.pkgd.min.js" type="text/javascript"></script>

    <!-- PAGE LEVEL SCRIPTS -->
    <script src="/resources/js/layout.min.js" type="text/javascript"></script>
    <script src="/resources/js/components/wow.min.js" type="text/javascript"></script>
    <script src="/resources/js/components/swiper.min.js" type="text/javascript"></script>
    <script src="/resources/js/components/masonry.min.js" type="text/javascript"></script>

    <script src="../../public/js/funtions.js" type="text/javascript"></script>
    <script>
        function consultar() {
            console.log("entró");
        }
    </script>
</body>
<!-- END BODY -->

</html>